.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  i .pass-wrapper{
    position: absolute;
    top: 20%;
    right: 4%;
  }
  i:hover .pass-wrapper {
    color: lightblue;
    cursor: pointer;
  }