.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  i {
    position: absolute;
    top: 35%;
    right: 7%;
  }
  i:hover {
    color: lightblue;
    cursor: pointer;
  }