.pass-wrapper {
    position: relative;
    display: flex;
    margin-bottom: 14px;
  }
  .pass-wrapper i{
    position: absolute;
    top: 20%;
    right: 4%;
  }
  .pass-wrapper i:hover  {
    color: lightblue;
    cursor: pointer;
  }